[submodule "powerlevel9k"]
    path = modules/zsh/.oh-my-zsh/custom/themes/powerlevel9k
    url = https://github.com/bhilburn/powerlevel9k.git
[submodule "oh-my-zsh"]
	path = modules/zsh/.oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "modules/vim/.space-vim"]
	path = modules/vim/.space-vim
	url = git@github.com:liuchengxu/space-vim.git
[submodule "modules/vim/.vim/plugged/eleline.vim"]
	path = modules/vim/.vim/plugged/eleline.vim
	url = https://github.com/liuchengxu/eleline.vim.git
[submodule "modules/vim/.vim/plugged/fzf.vim"]
	path = modules/vim/.vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "modules/vim/.vim/plugged/is.vim"]
	path = modules/vim/.vim/plugged/is.vim
	url = https://github.com/haya14busa/is.vim.git
[submodule "modules/vim/.vim/plugged/seoul256.vim"]
	path = modules/vim/.vim/plugged/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "modules/vim/.vim/plugged/space-vim-dark"]
	path = modules/vim/.vim/plugged/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule "modules/vim/.vim/plugged/traces.vim"]
	path = modules/vim/.vim/plugged/traces.vim
	url = https://github.com/xtal8/traces.vim.git
[submodule "modules/vim/.vim/plugged/vim-anzu"]
	path = modules/vim/.vim/plugged/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu.git
[submodule "modules/vim/.vim/plugged/vim-better-default"]
	path = modules/vim/.vim/plugged/vim-better-default
	url = https://github.com/liuchengxu/vim-better-default.git
[submodule "modules/vim/.vim/plugged/vim-better-whitespace"]
	path = modules/vim/.vim/plugged/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "modules/vim/.vim/plugged/vim-choosewin"]
	path = modules/vim/.vim/plugged/vim-choosewin
	url = https://github.com/t9md/vim-choosewin.git
[submodule "modules/vim/.vim/plugged/vim_current_word"]
	path = modules/vim/.vim/plugged/vim_current_word
	url = https://github.com/dominikduda/vim_current_word.git
[submodule "modules/vim/.vim/plugged/vim-rsi"]
	path = modules/vim/.vim/plugged/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "modules/vim/.vim/plugged/vim-signature"]
	path = modules/vim/.vim/plugged/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "modules/vim/.vim/plugged/vim-startify"]
	path = modules/vim/.vim/plugged/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "modules/vim/.vim/plugged/vim-which-key"]
	path = modules/vim/.vim/plugged/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "modules/vim/vim-plug"]
	path = modules/vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
