[user]
	email = hamish.morgan@gmail.com
	name = Hamish Morgan

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	
	# http://blog.kfish.org/2010/04/git-lola.html
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[color]
  branch = auto
	diff = auto
	interactive = auto
	status = auto

[core]
	editor = code
	excludesfile = ~/.gitignore-globals
  attributesFile = ~/.gitattributes

[push]
  default = simple

[diff "zip"]
  textconv = unzip -p
  binary = true
[diff "gz"]
  textconv = gzcat
  binary = true
[diff "bz2"]
  textconv = bzcat
  binary = true
[diff "xz"]
  textconv = xzcat
  binary = true
[diff "tar"]
  textconv = tar -O -xf
  binary = true
[diff "tar-bz2"]
  textconv = tar -O -xjf
  binary = true
[diff "tar-gz"]
  textconv = tar -O -xzf
  binary = true
[diff "tar-xz"]
  textconv = tar -O -xJf
  binary = true

[diff "odf"]
  textconv = odt2txt
[diff "pdf"]
  textconv = pdfinfo
[diff "bin"]
  textconv = hexdump -v -C
[init]
	defaultBranch = main
