files = [".cargo/config.toml", ".rustfmt.toml", ".rustfmt.toml.example"]

name = "Rust"
description = "Rust toolchain configuration"
method = "stow"
target = "~"

[validation]
".cargo/config.toml" = { command = "uvx", args = [
  "--with",
  "tomli",
  "python3",
  "-c",
  "import sys; import tomli; f=sys.argv[1]; tomli.load(open(f, 'rb'))",
] }
".rustfmt.toml" = { command = "uvx", args = [
  "--with",
  "tomli",
  "python3",
  "-c",
  "import sys; import tomli; f=sys.argv[1]; tomli.load(open(f, 'rb'))",
] }
".rustfmt.toml.example" = { command = "uvx", args = [
  "--with",
  "tomli",
  "python3",
  "-c",
  "import sys; import tomli; f=sys.argv[1]; tomli.load(open(f, 'rb'))",
] }
